.specialists {
	position: relative;
	padding-top: 111px;
	padding-bottom: 189px;
	background-image: url(../img/innovation-bg.webp);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	&__img {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__col {

	}

	&__title {
		margin-bottom: 64px;
		max-width: 554px;
		h2 {
			font-family: $second-font-family;
			font-weight: 400;
			font-size: rem(24px);
			line-height: 1;
			color: $color-white;
			margin: 0;
			span {
				display: block;
				font-size: rem(40px);
				line-height: 1.6;
				color: $color-brown-light;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-top: 14px;
			}
		}
	}

	&__nav {
		max-width: 241px;

		&-item {
			position: relative;
			z-index: 10;
			font-family: $second-font-family;
			font-weight: 400;
			font-size: rem(16px);
			line-height: 1.3;
			margin: 0;
			color: $color-white;
			text-transform: uppercase;
			margin-bottom: 26px;
			padding-bottom: 8px;
			padding-left: 13.5px;
			cursor: pointer;
			opacity: 0.6;
			transition: opacity .4s ease-in-out;
			width: 100%;

			&::before {
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				width: 0;
				height: 1px;
				background-color: $color-brown-light;
				transition: width .4s ease-in-out;
			}

			&::after {
				content: "";
				position: absolute;
				top: 6px;
				left: 0px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: $color-brown-light;
				opacity: 0;
				transition: opacity .4s ease-in-out;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&._active {
				opacity: 1;
				&::before {
					width: 200%;
				}

				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__content {
		position: relative;

		&-item {
			display: none;

			&._active {
				display: block;
			}
		}

		&-item-img {
			position: relative;
			z-index: 10;
		}

		&-item-article {
			position: absolute;
			left: -545px;
			bottom: -104px;
			padding: 56px;
			background-color: $color-dark;
			box-shadow: 0 6px 10px rgba($color: #121314, $alpha: 0.3);
			max-width: 760px;
			width: 100%;
			min-height: 282px;

			h3 {
				font-family: $second-font-family;
				font-size: rem(16px);
				font-weight: 400;
				line-height: 1.3;
				margin: 0;
				margin-bottom: 24px;
				text-transform: uppercase;
				color: $color-white;
			}

			p {
				margin: 0;
				margin-bottom: 32px;
				max-width: 448px;
				color: $color-white;
				line-height: 1.5;
			}
		}
	}

	&__button {
		font-family: $second-font-family;
		font-size: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		color: $color-white;
		cursor: pointer;


		&-circle {
			width: 66px;
			height: 66px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $color-brown-light;
			margin-right: 20px;
			border-radius: 50%;

			.icon-icon-arrow2 {
				width: 20px;
				height: 16px;
				fill: $color-dark;
				flex-shrink: 0;
			}
		}
	}
}
