.examples {
	position: relative;
	z-index: 10;
	padding-top: 313px;
	padding-bottom: 218px;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 50%;
		height: 100%;
		background-color: $color-dark;
	}

	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		width: 50%;
		height: 100%;
		background-color: $color-white;
	}

	&__feautures {
		position: absolute;
		top: 0;
		left: 50%;
		max-width: 1056px;
		width: 100%;
		transform: translateX(-50%);
		background-color: $color-brown-light;
		padding: 50px 40px;
		overflow: hidden;

		&-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style: none;
			padding: 0;
			margin: 0;
		}

		&-list-item {
			font-family: $second-font-family;
			font-size: rem(20px);
			line-height: 1.6;
			text-align: center;
			max-width: 233px;
		}
	}

	&__feautures-img {
		position: absolute;

		&._first {
			top: 0;
			left: 262px;
		}
		&._second {
			bottom: -4px;
			right: 305px;
		}

	}

	&__title {
		margin-bottom: 64px;
		max-width: 486px;
		h2 {
			font-family: $second-font-family;
			font-weight: 400;
			font-size: rem(24px);
			line-height: 1;
			color: $color-white;
			margin: 0;
			span {
				display: block;
				font-size: rem(40px);
				line-height: 1.4;
				color: $color-brown-light;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-top: 14px;
			}
		}
	}

	&__slider {
		width: 100%;
		margin-bottom: 47px;
		height: 713px;
	}

	&__slider-item {
		transition: transform 0.4s ease-in-out, transform-origin 0.4s ease-in-out;

		&.swiper-slide-active {
			transform: scale(1.47);
			position: relative;
			z-index: 15;

			img {
				filter: none;
			}
		}

		&.swiper-slide-prev {
			perspective: 550px;
			transform: scale(1.2);

			img {
				transform: rotateY(-13deg);
				transform-origin: right center;
			}

		}

		&.swiper-slide-next {
			perspective: 270px;
    		transform: scale(1.2);

			img {
				transform: rotateY(7deg);
				transform-origin: left center;
			}

		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			filter: grayscale(99%);
		}
	}

	&__slider-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 183px;
		margin: 0 auto;
	}

	&__slider-nav-btn_left {
		cursor: pointer;
		z-index: 500;


		.icon-arrow-left {
			width: 74px;
			height: 30px;

			fill: $color-white;
			transition: fill $main-transition;
		}

		&:active {
			transform: scale(0.9);
		}

		&:hover {
			.icon-arrow-left {
				fill: $color-light-grey-2;
			}
		}
	}

	&__slider-nav-btn_right {
		cursor: pointer;
		z-index: 500;

		.icon-arrow-right {
			width: 74px;
			height: 30px;

			fill: $color-black;
			transition: fill $main-transition;

		}

		&:active {
			transform: scale(0.9);
		}

		&:hover {
			.icon-arrow-right {
				fill: $color-light-grey-2;
			}
		}
	}

	&__slider-pagination {
		display: none;
	}


	@include _1680 {
		padding-top: 263px;
		padding-bottom: 108px;
		&__slider {
			height: 523px;
		}

		&__slider-item {
			&.swiper-slide-active {
				transform: scale(1.17);
			}

			&.swiper-slide-prev {
				transform: scale(1);
			}
			&.swiper-slide-next {
				transform: scale(1);
			}
		}
	}

	@include _1536 {
		padding-top: 203px;

		&__title {
			margin-bottom: 44px;
			h2 {
				span {
					font-size: 2.2rem;
				}
			}
		}

		&__feautures {
			padding: 40px 30px;

			&-list-item {
				font-size: rem(16px);
			}

			&-img {
				&._first {
					width: 12%;
				}
				&._second {
					width: 6%;
				}
			}
		}
	}

	@include _1440 {
		padding-bottom: 60px;
		&__title {
			margin-bottom: 34px;
		}

		&__feautures {
			padding: 33px 20px;
			max-width: 976px;

			&-img {
				&._first {
					width: 10%;
				}
				&._second {
					width: 5.4%;
				}
			}
		}

		&__slider {
			margin-bottom: 26px;
		}
	}

	@include _1366 {
		&__slider {
			height: auto;
			margin-bottom: 36px;
		}

		&__slider-item {
			&.swiper-slide-active {
				transform: scale(1);
			}

			&.swiper-slide-next {
				transform: scale(0.9);
			}
			&.swiper-slide-prev {
				transform: scale(0.9);
			}
		}
	}

	@include _1280 {
		padding-top: 183px;

		&__title {
			h2 {
				span {
					font-size: 2rem;
					margin-top: 10px;
				}
			}
		}

		&__feautures {
			padding: 29px 20px;
		}
	}

	@include _1200 {
		&__feautures {
			max-width: 95%;
		}

		&__slider-nav {
			display: none;
		}

		&__slider-pagination {
			display: flex;
			align-items: center;
			justify-content: center;

			.swiper-pagination-bullet {
				display: block;
				width: 35px;
				height: 8px;
				border-radius: 2px;
				background-color: $color-brown-light;
				margin: 0 5px;
				opacity: 0.8;
				transition: width $main-transition;
			}

			.swiper-pagination-bullet-active {
				opacity: 1;
				width: 45px;
			}
		}
	}

	@include _992 {
		&__slider {
			margin-bottom: 50px;
		}

		&__title {
			h2 {
				font-size: 1.3rem;
				span {
					font-size: 1.8rem;
				}
			}
		}

		&__feautures {

			&-img {
				&._first {
					left: 242px;
				}

				&._second {
					right: 267px;
				}
			}


		}
	}

	@include _769 {
		&__feautures {

			&-img {
				&._first {
    				left: 202px;
				}

				&._second {
					right: 217px;
				}
			}

			&-list-item {
				font-size: 0.9rem;
				max-width: 193px;
			}
		}


		&__title {
			margin-bottom: 44px;
			h2 {
				font-size: rem(20px);
				span {
					font-size: rem(28px);
				}
			}
		}
	}

	@include _740 {
		padding-top: 173px;
		&::after {
			content: none;
		}

		&::before {
			content: none;
		}

		&__feautures {
			max-width: 100%;
			&-img {
				display: none;
			}

			&-list-item {
				max-width: 167px;
			}
		}


		&__title {

			h2 {
				span {
					font-size: 1.6rem;
				}
			}
		}
	}

	@include _500 {

		&__feautures {
			&-list-item {
				max-width: 117px;
			}
		}

	}

	@include _480 {
		padding-bottom: 50px;
	}

	@include _375 {
		padding-top: 0;
		&__feautures {
			position: relative;
			left: auto;
			top: auto;
			transform: none;
			margin-bottom: 40px;

			&-list {
				flex-wrap: wrap;
				justify-content: space-around;
			}

			&-list-item {
				&:nth-child(1),
				&:nth-child(2) {
					margin-bottom: 20px;
				}
			}
		}
	}

	@include _320 {
		&__title {
			h2 {
				font-size: 1.1rem;
				span {
					font-size: 1.4rem;
				}
			}
		}
	}

}
