.contacts {
	background-color: $color-white;
	padding-bottom: 100px;

	&__row {
		display: flex;
	}

	&__col {
		position: relative;
		&:nth-child(1) {
			padding: 106px 0 214px 0;
			background-image: url(../img/innovation-bg.webp);
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			max-width: 674px;
			width: 100%;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -100%;
				width: 100%;
				height: 100%;
				background-image: url(../img/innovation-bg.webp);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		&:nth-child(2) {
			margin-top: 112px;
			margin-left: 141px;
		}
	}

	&__title {
		margin-bottom: 71px;
		max-width: 494px;

		&._mobile {
			display: none;
		}

		h2 {
			font-family: $second-font-family;
			font-weight: 400;
			font-size: rem(24px);
			line-height: 1;
			color: $color-white;
			margin: 0;
			span {
				display: block;
				font-size: rem(40px);
				line-height: 1.6;
				color: $color-brown-light;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-bottom: 9px;
			}
		}
	}

	&__info {
		display: flex;
		flex-wrap: wrap;

		&-copy-text {
			background-color: transparent;
			color: $color-white;
			border: none;
			border-radius: 0;
			outline: none;
			pointer-events: none;
			padding: 0;
			width: 161px;
		}

		&-item {
			position: relative;
			font-size: 1rem;
			color: $color-white;

			span {
				font-family: $second-font-family;
				font-size: 1rem;
				display: block;
				color: $color-white;
				margin-bottom: 17px;
				text-transform: uppercase;
			}


			&:nth-child(1) {
				margin-right: 93px;
				margin-bottom: 42px;
			}

			&:nth-child(3) {
				span {
					margin-bottom: 9px;
				}
			}

			&:nth-child(2) {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			&-coordinates {
				position: relative;
				color: $color-brown-light;
				font-size: 1rem;
				display: inline-block;
				overflow: hidden;
				padding-bottom: 3px;
				transform: translateY(7px);
				margin-left: 20px;


				&::before {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					border-bottom: 1px dashed $color-brown-light;
					transition: transform $main-transition;
				}

				&:hover {
					&::before {
						transform: translateX(100%);
					}
				}
			}

			&-tel {
				position: relative;
				color: $color-brown-light;
				font-size: 1rem;
				display: inline-block;
				overflow: hidden;
				padding-bottom: 3px;
				margin-top: 17px;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					border-bottom: 1px dashed $color-brown-light;
					transition: transform $main-transition;
				}

				&:hover {
					&::before {
						transform: translateX(100%);
					}
				}
			}
		}
	}


	&__tooltip {
		position: absolute;
		top: -100%;
		right: -20px;
		z-index: 15;
		font-size: 0.9rem !important;
		text-transform: none !important;
		background-color: $color-brown-light;
		color: $color-dark !important;
		padding: 10px;
		margin: 0 !important;
		text-align: center;
		max-width: 160px;
		opacity: 0;
		visibility: hidden;
		transition: opacity $main-transition;
	}

	&__tooltip-text {
		font-size: 0.9rem !important;
		text-transform: none !important;
		color: $color-dark !important;
		margin: 0 !important;
		margin-top: 5px !important;
		display: block;
	}

	&__inst {
		position: relative;
		background-color: $color-dark;
		margin-top: 44px;
		padding: 54px 0;
		display: flex;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: $color-dark;
		}
	}

	&__inst-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-right: 88px;
	}

	&__inst-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-white;

		.icon-inst {
			width: 21px;
			height: 21px;
			margin-right: 11px;
			fill: $color-brown-light;
		}
	}

	&__inst-info-label {
		font-family: $second-font-family;
		font-size: 1rem;
		display: block;
		color: $color-white;
		text-transform: uppercase;
		margin-bottom: 16px;
	}

	&__button {
		padding: 31px 0;
		._contacts-circle {
			width: 63px;
			height: 83px;
			&::before {
				width: 78px;
				height: 78px;
			}
		}

		.icon-button-arrow {
			width: 58px;
			height: 16px;
			margin-right: 15px;
		}

		&:hover {
			.icon-button-arrow {
				width: 44px;
				height: 16px;
				margin-right: 15px;
			}

			._contacts-circle {
				width: 83px;
			}
		}
	}

	&__map {
		width: 784px;
		height: 487px;
		margin-left: auto;
	}

	&__gallery {
		margin-top: -170px;
		overflow: hidden;
		min-height: 301px;
	}

	&__gallery-item {
		&:nth-child(2n) {
			transform: translateY(54px);
		}
	}

	&__gallery-item-img {
		position: relative;
		z-index: 10;
		display: inline-block;
		margin-bottom: 20px;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 90%;
			height: 8px;
			transform: translateX(-50%);
			border-radius: 50%;
			box-shadow: 0 5px 10px rgba($color: #26272A, $alpha: 0.5);
			z-index: -1;
		}
	}

	@include _1536 {

		&__title {
			h2 {
				span {
					font-size: rem(35px);
				}
			}
		}

		&__info {
			&-item {
				&:nth-child(2) {
					margin-right: 60px;
				}

				&:nth-child(3) {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					span {
						margin-bottom: 17px;
					}
				}
			}
			&-item-coordinates {
				display: block;
				margin: 0;
				margin-top: 10px;
			}
		}

		&__tooltip {
			top: -50%;
			right: 0px;
		}

		&__col {
			&:nth-child(2) {
				margin-left: 111px;
			}
		}

	}

	@include _1440 {
		&__col {
			&:nth-child(2) {
				margin-top: 86px;
				margin-left: 69px;
			}
			&:nth-child(1) {
				padding-top: 86px;
			}
		}

		&__map {
			width: 724px;
			height: 507px;
		}

		&__inst {
			padding: 34px 0;
		}

		&__button {
			padding: 26px 0;
			._contacts-circle {
				width: 53px;
				height: 73px;
				&::before {
					width: 68px;
    				height: 68px;
				}
			}

			.icon-button-arrow {
				width: 48px;
			}

			&:hover {
				.icon-button-arrow {
					width: 41px;
					margin-right: 12px;
				}
			}
		}

		&__gallery {
			margin-top: -130px;
		}
	}

	@include _1366 {
		padding-bottom: 70px;
	}

	@include _1280 {
		&__map {
			width: 614px;
			height: 477px;
		}

		&__title {
			margin-bottom: 51px;
			h2 {
				span {
					font-size: 2rem;
					margin-bottom: 3px;
				}
			}
		}

		&__info {
			&-item {
				font-size: 0.9rem;

				span {
					font-size: 0.9rem;
				}
			}

			&-item-tel {
				font-size: 0.9rem;
			}

			&-item-coordinates {
				font-size: 0.9rem;
			}
		}

		&__inst {
			&-info-label {
				font-size: 0.9rem;
			}

			&-logo {
				font-size: 0.9rem;
			}
		}

		&__button {
			font-size: 0.9rem;
		}
	}

	@include _1200 {
		&__map {
			width: 464px;
			height: 477px;
		}

		&__col {
			&:nth-child(2) {
				margin-left: 49px;
			}
		}
	}

	@include _992 {

		&__inst {
			flex-direction: column;
			align-items: stretch;

			&-info {
				margin-bottom: 24px;
			}
		}

		&__button {
			margin-left: 35px;

			._contacts-circle {
				left: -9%;
			}
		}

		&__col {
			&:nth-child(1) {
				padding-top: 65px;
			}

			&:nth-child(2) {
				margin-top: 65px;
			}
		}

		&__title {
			h2 {
				font-size: 1.3rem;
				span {
					font-size: 1.8rem;
				}
			}
		}

		&__gallery {
			min-height: 261px;
		}
	}

	@include _769 {
		&__row {
			flex-direction: column;
		}

		&__col {
			&:nth-child(1) {
				max-width: 100%;
				padding-bottom: 0;
				&::before {
					left: -24px;
					width: 110%;
					height: 100%;
				}
			}

			&:nth-child(2) {
				max-width: none;
				width: auto;
				margin: 0 -24px;
			}
		}

		&__map {
			width: auto;
		}

		&__title {
			position: relative;
			z-index: 10;
		}

		&__button {
			padding: 22px 0;
			._contacts-circle {
				left: -12.7%;
				width: 43px;
				height: 63px;

				&::before {
					width: 58px;
					height: 58px;
				}
			}

			.icon-button-arrow {
				width: 38px;
			}

			&:hover {
				.icon-button-arrow {
					transform: translateX(-4px);
					width: 31px;
					margin-right: 22px;
				}
			}
		}

		&__inst {
			z-index: 10;
			flex-direction: row;
			align-items: center;

			&::before {
				left: -24px;
				width: 110%;
				z-index: -1;
			}

			&-info {
				margin-bottom: 0;
			}
		}

		&__gallery {
			min-height: 281px;
			margin-top: -40px;
		}
	}

	@include _740 {
		padding-bottom: 40px;

		&__title {

			display: none;


			&._mobile {
				position: relative;
				z-index: 10;
				display: block;
				margin-bottom: 0;
				padding-bottom: 51px;
				padding-top: 40px;

				&::before {
					content: "";
					position: absolute;
					top: -2px;
					left: -24px;
					z-index: -1;
					width: 170%;
					height: 101%;

					background-image: url(../img/innovation-bg.webp);
					background-position: center center;
					background-size: cover;
					background-repeat: no-repeat;

				}

				h2 {
					font-size: 1.25rem;
					span {
						font-size: 1.6rem;
					}
				}
			}
		}

		&__col {
			&:nth-child(1) {
				padding-top: 35px;
				position: relative;
				z-index: 10;
				order: 2;
			}

			&:nth-child(2) {
				order: 1;
			}
		}

		&__gallery {
			min-height: 228px;
			margin-top: -10px;
			position: relative;
			z-index: 15;
			overflow: visible;
		}

		&__map {
			height: 317px;
		}
	}

	@include _480 {
		&__col {
			&:nth-child(1) {
				&::before {
					width: 160%;
				}
			}
		}

		&__inst {
			flex-wrap: wrap;

			&::before {
				width: 140%;
			}
			&-info {
				margin-right: 28px;
				margin-bottom: 20px;
			}
		}

		&__title {
			&._mobile {
				padding-bottom: 31px;
			}
		}

		&__info {
			&-item {
				&:nth-child(2) {
					margin-right: 40px;
				}
			}
		}

		&__button {
			margin-left: 22px;
		}
	}

	@include _360 {
		&__info {
			&-item {
				margin-bottom: 30px !important;

				&:last-child {
					margin-bottom: 0;
				}

				&:nth-child(2) {
					margin-right: 30px;
				}
			}
		}

		&__inst {
			margin-top: 20px;
		}

		&__map {
			height: 237px;
		}
	}

	@include _320 {
		&__title {
			&._mobile {
				h2 {
					font-size: 1.1rem;
					span {
						font-size: 1.4rem;
					}
				}
			}
		}


	}
}
