section.section.hero-section
	.hero-section__background-img
		+picture("hero_bg.png", "Итальянское наращивание волос")
	.hero-section__img
		+picture("hero-img.png", "Итальянское наращивание волос")
	.hero-section__img._mobile
		+picture("hero-img-mobile.png", "Итальянское наращивание волос")
	.site-container
		.hero-section__title
			h1
				|	Итальянское
				span
					|	наращивание волос
		.hero-section__info
			p
				|	от
				br
				|	4 часов
			p
				|	от лучшей студии
				br
				|	по версии
				span
					|	«VMODE Magazine»
		button.hero-section__button.button_reset.main-button
			.main-button__circle._hero-circle
			+icon("button-arrow")
			|	Стань гостьей студии
		.hero-section__text-circle
			._circle-big
			._circle-small
			p
				|	Мастер оценит твои волосы и подберет подходящий материал




