.mobile-menu
	.mobile-menu__inner
		button.mobile-menu__button.button_reset
			span
			span
			|	Закрыть
		.mobile-menu__content
			.mobile-menu__item
				.mobile-menu__location.main-location
					+icon("marker")
					p
						|	Москва, м. Белорусская
			.mobile-menu__item
				.mobile-menu__call
					a(class="phone-content", href="tel:+79851350584")
						|	+7 (985) 135-05-84
			.mobile-menu__item
				button.button_reset.header__button-call.mobile-menu__button-call
					span
						|	Заказать звонок
