section.section.facts
	.facts__row
		.facts__col
			.facts__img
				+pictureLazy("facts-img.png", "Наша комада")
		.facts__col
			.facts__bg-icon
				+icon("dreams-bg")
			.facts__title
				h2
					|	3 особенных факта
					span
						|	о нашей студии
			ul.facts__list
				li.facts__list-item
					p
						|	Основатель студии
						span
							|	МАРИНА ПИЛЮКОВА
						|	каждый год выступает судьей на международных чемпионатах по наращиванию
				li.facts__list-item
					p
						span
							|	ДАЕМ ГАРАНТИЮ
						|	на наращивание: если в течение месяца будут проблемы или ты поймешь, что тебе неудобно, переделаем бесплатно.
				li.facts__list-item
					p
						|	В 2019 и 2020 годах журнал
						span
							|	«VMODE MAGAZINE»
						|	признал «Матриархат» лучшей студией по наращиванию волос
