// Typography
$main-font-family: "Montserrat", sans-serif;
$second-font-family: "Prata", sans-serif;

// colors
$color-white: #FFF;
$color-black: #000;
$color-dark: #26272A;
$color-dark2: #18181A;
$color-brown-light: #DED0B1;
$color-light-grey-1: #AFAFB0;
$color-light-grey-2: #858586;

$main-transition: .2s ease-in-out;
